@import url("https://fonts.googleapis.com/css2?family=Lato");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1A1A1A;
  color: white;
  height: 100%;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}